@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stalemate&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.certificate_wrapper {
  border-left: 40px solid #00aeff;
  width: 90%;
  height: 90%;
  margin: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(50%, #fff), to(#eee));
  background: linear-gradient(to bottom, #fff, #fff 50%, #eee 100%);
}

@media screen and (min-width: 325px) and (max-width: 700px) {
  .certificate_wrapper {
    height: auto;
    margin-bottom: 20px;
  }
}

.certificate_wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;
}

@media screen and (min-width: 325px) and (max-width: 700px) {
  .certificate_wrapper .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
  }
}

.certificate_wrapper .header .logo img {
  height: 43px;
  width: 143px;
}

@media screen and (min-width: 325px) and (max-width: 700px) {
  .certificate_wrapper .header .logo img {
    height: 30px;
    width: 120px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.certificate_wrapper .header .header_text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.certificate_wrapper .header .header_text p {
  font-family: "Raleway", sans-serif;
  font-size: 21px;
  line-height: 32px;
}

@media screen and (min-width: 325px) and (max-width: 700px) {
  .certificate_wrapper .header .header_text p {
    text-align: center;
    font-size: 17px;
  }
}

.title {
  font-size: 48px;
  line-height: 56px;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 5%;
  font-weight: 600;
  font-family: "Work Sans", sans-serif;
}

@media screen and (min-width: 325px) and (max-width: 700px) {
  .title {
    font-size: 24px;
    margin-top: 10px;
  }
}

.info {
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  width: 55%;
  margin: 13px auto 13px 5%;
}

@media screen and (min-width: 325px) and (max-width: 700px) {
  .info {
    width: 100%;
    padding-right: 10px;
    font-size: 18px;
  }
}

.stages {
  color: #00aeff;
  font-size: 32px;
  font-family: "Work Sans", sans-serif;
  margin-left: 5%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 700;
}

@media screen and (min-width: 325px) and (max-width: 700px) {
  .stages {
    font-size: 20px;
  }
}

.name {
  margin-left: 5%;
  font-size: 96px;
  line-height: 113px;
  font-weight: 900;
  font-family: "Work Sans", sans-serif;
  color: #000000;
}

@media screen and (min-width: 325px) and (max-width: 700px) {
  .name {
    font-size: 58px;
    line-height: 70px;
  }
}

.footer {
  margin-left: 5%;
}

.footer .signature {
  font-family: "Stalemate", cursive;
  color: #9d9d9d;
  font-size: 50px;
}

.footer p:nth-child(2) {
  font-weight: 700;
  color: #000;
  margin-top: -15px;
}

.footer .last_p {
  font-size: 21px;
  line-height: 28px;
  color: #000;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */